
<h1>CURSOS</h1>

<div class="jumbotron">
    
      <h3 class="text-center"><i class="glyphicon glyphicon-list"></i></h3>
      <table class="table text-center" style="background-color:whitesmoke;">
        <thead style="letter-spacing:2px;font-weight:bold;font-style:italic">
          <tr>
              <th>NOMBRE</th>
          </tr>
        </thead>
        <tbody *ngFor="let c of aCursos">
          <tr>
                  
            <td>{{c.nombre}}</td>
          </tr>

        </tbody>
      </table>

      <div>

      </div>

    </div>

    

 




